.live-feed-slideout {
    position: fixed;
    top: 22%;
    width: 350px;
    max-width: 100%;
    left: -274px;
    background-color: transparent;
    -webkit-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    transition: all 600ms ease-out;
    z-index: 9999;
}

.slideout-content-wrap {
    color: #000;
    float: left;
    display: inline-block;
    margin-right: 6px;
    width: 75%;
    vertical-align: top;
}

.slideout-content {
    padding: 6%;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 0 4px #000, 0 0 0 8px #930000;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    h2 {
        font-size: 2.25em;
    }

    p {
        font-size: 1.1em;
        margin: auto;
        padding-left: 10px;
        line-height: 1.1em;
        clear: both;
    }

    .lptv-blue-button-big {
        margin: 1.15rem auto;
    }
}

/* This is the trigger button */
.slideout-trigger {
    color: #fff;
    line-height: 0.95em;
    font-weight: bold;
    text-align: center;
    width: 8%;
    max-width: 22px;
    background: #930000;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 6px 8px 6px 11px;
    float: left;
    border: 1px solid #930000;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    img {
        width: 90%;
        margin: 0 auto 6px 2px;
    }

    &.onAir {
        animation-name: blink;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}

@keyframes blink {
    0% {
        box-shadow: 6px 0 4px rgba(255, 0, 0, 0.9);
    }
    88% {
        box-shadow: 6px 0 4px rgba(245, 0, 0, 0.8);
    }
    100% {
        box-shadow: 6px 0 4px rgba(180, 0, 0, 0.6);
    }
}

/* Embedded Video */
.wunrav-youtube-embed-outter {
    max-width: 100%;
    display:block;
    margin-bottom: 12px;
}

.wunrav-youtube-embed-wrapper {
    padding-bottom: 56.2%;
    position: relative;

    .wunrav-youtube-embed-iframe {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
    }
}

/* the tab is a label/checkbox. The checked state determines slideout position */
input[type=checkbox]#slideout-button {
    position: fixed;
    left: -99px;

    &:checked + .live-feed-slideout {
        left: 0;

        .slideout-trigger img {
            -webkit-transition: all 400ms ease-in;
            -moz-transition: all 400ms ease-in;
            transition: all 400ms ease-in;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}

@media only screen and (max-width: 768px) {

    #wunrav-youtube-embed-slideout {
        top: 62%;
    }
}

